<h1>Welcome</h1>
<p>Name: Samvedana Mehta
<br>
Student Id: 84295<br>
Web security class is very good class. learnt a lot about switches,router,firewall,
VLAN. all the CCNA basics and in the second half of the semster learn about
thae web security, different types of algorithms and how to apply them.
We also did a project of 2 factor authentication which really helped
to learn about the security issues and how to prevent our accounts from
hackers and learnt different algorithms used in 2 factor authentication.
In short Web security class is very helful to take knowledge about
hardware and software security.</p>
